# Printer settings
PRINTER_IP=192.168.1.10

# Optional: specify printer profile
# See: https://python-escpos.readthedocs.io/en/latest/printer_profiles/available-profiles.html
PRINTER_PROFILE=TM-T88V

# Further optional settings:

# PRINTER_PORT - default: 9100
# PRINTER_TIMEOUT - default: 5 (in seconds)
# POLL_INTERVAL - default: 10 (in seconds)
